*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #262C27;
}

a{
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

img{
    object-fit: cover;
}

.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.title{
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
    font-size: 60px;
    line-height: 67px;

}

.header{
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    position: relative;
    margin-bottom: 80px;
}

.header::before{
	content: "";
	position: absolute;
	background-image: url(../images/header-decor.svg);
	bottom: 0;
	left: 0;
	right: 0;
	height: 456px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transform: translateY(55%); /* Занеобхідністю змінити */
	z-index: 2;
}

.header::after{
	content: "";
	position: absolute;
	background-image: url(../images/header-decor.svg);
	bottom: 0;
	left: 0;
	right: 0;
	height: 456px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transform: translateY(85%) rotate(180deg);
	z-index: 3;
} 

.header__top {
  display: flex;
  align-items: center;
  padding: 30px 0; /* Зменшв висоту панелі */
  gap: 50px; /* Зменшив проміжок між елементами */
  justify-content: flex-end;
  font-weight: 500; /* Зменшив жирність тексту */
  font-family: 'Comfortaa', cursive;
  font-size: 16px; /* Зменшив розмір шрифта */
  line-height: 16px; /* Зменшив висоту рядка */
  margin-right: 70px; /* Добавив відступ з права */
}

/* ↑ Всі ці зміни для .header__top були внесині щоб відповідаи візуальному дизайну не зважаючи на розміри які були прописані в дизайні тому що вони не відповідають дійсності і занадто великі */

.header__phone {
	font-weight: 700; /* Щоб шрифт був жирнішим і відповідав макету */
}

.logo path{
	transition: fill .3s ease;
}

.logo:hover path{
	fill: #0093A1;
	transition: fill .3s ease;
}

.header__btn{
	text-transform: uppercase;
	color: #fff;
	padding: 12px 71px;
	background-color: #262C27;
	border: none;
	cursor: pointer;
}

.header__content{
	min-height: calc(100vh - 161px);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}

.header__content-box{
	max-width: 550px;
	text-align: center;
	margin-right: 30px;
	color: #fff;
	font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

.header__title{
	text-transform: uppercase;
	margin-bottom: 20px;
	font-size: 64px;
	line-height: 71px;
}

.header__text{
	font-size: 24px;
	line-height: 27px;
	margin-bottom: 20px;
}

.header__decor-text {
  position: absolute;
  bottom: 25px; /* Під питанням можлива зміна*/
  color: #0093A1;
}

.header__decor-text--one {
	z-index: 1;
	right: 145px;
	bottom: 120px;
}

.header__decor-text--one,
.header__decor-text--two {
	opacity: 0.3;
	line-height: 145px; /* Під питанням можливо зменшити до 100 */
	font-size: 120px; /* Потрібно буде зробити відступ від верхнього тексту */
	font-family: Comfortaa, cursive;
	margin-bottom: -95px; /* Добавив для відступи щоб виглядало згідно шаблона (можлива змніна на 90px) */
}

.header__decor-text--two {
	z-index: 4;
	left: 265px;
	bottom: 0; /* Потрібно буде занизити */
}

.header__decor-text--three{
    max-width: 360px;
    right: 145px;
    z-index: 4;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    font-style: italic;
    text-align: center;
    margin-bottom: -90px; /* Добавив для відступи щоб виглядало згідно шаблона (невпевнений з коректністю) */
}

/* ↑ В іделі мабуть щоб їх всіх занизити як потрібно я звернусь окремо до header__decor-text і дам йому відстуа що в районі 100px */
